    body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --backgroundColor: black;
    --text: white;
    --secText: rgb(169, 169, 169);
    --specialText: rgb(0, 136, 255);
    background-color: var(--backgroundColor);
    overflow: hidden;
    color: var(--text);
}
#Logo:hover{
    filter: brightness(175%);
    cursor: pointer;
}
#navBar{
    /* background-color: white; */
    display: inline;
    width: 245px;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.168);
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
}


.navBarTab{
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 0px 10px 10px;
    margin: 0px 20px 15px 15px;
    border-radius: 10px;
}
.navBarTab:hover  .navBarImg{
    transform: scale(1.1);
    filter: invert(0%);

}
.navBarTab:hover{
    background-color: rgba(255, 255, 255, 0.141);
    cursor: pointer;

}
.navBarTab:active .navBarImg{
}
.navBarTxt{
    color: var(--text);
    /* margin-top: 17px;
    margin-bottom: 15px; */
    margin: 0px;
    padding-left: 17px;
    display: inline;
    font-size: 16px;
    font-weight: 500;
}
.navBarImg{
    padding: 0px;
}
main{
    height: 100vh;
    width: 80%;
    margin-left: 20%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
}

.story-postCont{
    /* background-color: blue; */
    width: 675px;

}
#storyBar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* background-color: aqua; */
    width: 675px;
}
#storyCont{
    /* background-color: aqua; */
    width: 70px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 0px;
}
.storyTxt{
    color: white;
    margin-top: 10px;
    font-size: 12px;
    margin-left: 0px;
}
.storyImg{
    margin-top: 10px; 
    width: 45px;
    height: 45px;
    padding: 2px;
    background: 
    linear-gradient(black, black) padding-box,
    linear-gradient(to right, rgb(255, 154, 21), rgb(230, 43, 255)) border-box;;
    border: 3px solid transparent;
    border-radius: 50%; 
    object-fit: cover;
}


#postColumn{
    /* background-color: aquamarine; */
    width: 675px;
}
.post{
    /* background-color: grey; */
    width: 475px;
    height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.168);
    margin: 0px 80px 0px 80px;
}
.postHeader{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;

}
.postPFP{
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.postUser{
    display: inline;
    margin: 0px;
    color: white;
}
.user-time{
    display: flex;
    flex-direction: row;
    width: 200px;
}
.Time{
    color: var(--secText);
    padding-left: 5px;
    margin: 0px; 
}
.location{
    font-size: 10px;
    margin: 0px;
    color: white;
}
.moreOpt{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 3px;
    column-gap: 2.5px;
    width: 100%;
}
.dot{
    color: white;
    font-size: 13px;
}
.postContent{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.interact-bookCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.postInteractCont{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 12px;
}
.interaction{
    height: 23px;
    width: 23px;
    filter: invert(100%);

}
.bookMark{
    margin-top: 8px;
}
.postCaption{
}
.captionText{
    font-size: 13px;
}
.captionUser{
    display: inline;
    margin: 0px 5px 0px 0px;
    float: left;
}

.suggested{
    /* background-color: yellowgreen; */
    width: 330px;
    min-width: 330px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}
.profileCont{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
}
.profilePFP{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 13px;
    margin: 13px 10px 13px 0px;
    object-fit: cover;
}
.profileUser{
    margin: 0px;
    font-size: 15px;
}

.profileName{
    margin: 0px;
    margin-top: 5px;
    font-size: 13px;
    color: var(--secText);
}
.switchCont{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    /* background-color: royalblue; */
    /* overflow-x: scroll; */
}

.switchText{
    color: var(--specialText);
    font-size: 12px;
}
.suggestedfy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#suggfy{
    color: var(--secText);
    font-size: 14px;
}

#seeAll{
    font-size: 12px;
}
.suggestedUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px 5px 0px;
}
.suggestedLeftSide{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.suggestedUserTxt{
    margin: 0px;
}
.mediumText{
    font-size: 12px;
    color: var(--secText);
    margin-top: 5px;
}
.username{
    font-size: 13px;
    font-weight: bold;
}
.followBtn{
    color: var(--specialText);
    font-size: 12px;
}
.suggestedPFP{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.clickable{
    cursor: pointer;

}
.hidden{
    display: none;
    width: auto;
}

/*change the scroll bar to be rounded and blend in with the baclground*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(113, 113, 113);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}


@media (min-width: 1920px){
    #navBar{
        width: 400px;
    }
    main{
        margin-left: 35%;
    }


}